.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: hsl(0, 0%, 35%);
  margin-top: 1em;
  border-bottom: 1px solid hsl(0, 0%, 60%);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.recipe-pic {
    width: 100%;
    display: block;
    margin-top: 20px;
    border-radius: 5px
  }