.overview {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
  } 

.overview-subsection {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}


.overview-sub-name {
    text-align: center;
}

.rating-stars {
    color: hsl(0, 0%, 35%);
    font-size: 12px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px; 
}


